log:
  level: INFO

entryPoints:
  web:
    # http
    address: ':80'
    http:
      # https://doc.traefik.io/traefik/routing/entrypoints/#entrypoint
      redirections:
        entryPoint:
          to: web-secure

  web-secure:
    # https
    address: ':443'
  {%- if dxh_py.use_celery == 'y' %}

  flower:
    address: ':5555'
  {%- endif %}

certificatesResolvers:
  letsencrypt:
    # https://doc.traefik.io/traefik/https/acme/#lets-encrypt
    acme:
      email: '${ DOMAIN_EMAIL }'
      storage: /etc/traefik/acme/acme.json
      # https://doc.traefik.io/traefik/https/acme/#httpchallenge
      httpChallenge:
        entryPoint: web

http:
  routers:
    web-secure-router:
      {%- if dxh_py.domain_name.count('.') == 1 %}
      rule: 'Host(`${ DOMAIN_NAME }`) || Host(`www.${ DOMAIN_NAME }`)'
      {%- else %}
      rule: 'Host(`${ DOMAIN_NAME }`)'
      {%- endif %}
      entryPoints:
        - web-secure
      middlewares:
        - csrf
      service: django
      tls:
        # https://doc.traefik.io/traefik/routing/routers/#certresolver
        certResolver: letsencrypt
    {%- if dxh_py.use_celery == 'y' %}

    flower-secure-router:
      rule: 'Host(`${ DOMAIN_NAME }`)'
      entryPoints:
        - flower
      service: flower
      tls:
        # https://doc.traefik.io/traefik/master/routing/routers/#certresolver
        certResolver: letsencrypt
    {%- endif %}
    {%- if dxh_py.cloud_provider == 'None' %}

    web-media-router:
      {%- if dxh_py.domain_name.count('.') == 1 %}
      rule: '(Host(`${ DOMAIN_NAME }`) || Host(`www.${ DOMAIN_NAME }`)) && PathPrefix(`/media/`)'
      {%- else %}
      rule: 'Host(`${ dxh_py.domain_name }`) && PathPrefix(`/media/`)'
      {%- endif %}
      entryPoints:
        - web-secure
      middlewares:
        - csrf
      service: django-media
      tls:
        certResolver: letsencrypt
    {%- endif %}

  middlewares:
    csrf:
      # https://doc.traefik.io/traefik/master/middlewares/http/headers/#hostsproxyheaders
      # https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
      headers:
        hostsProxyHeaders: ['X-CSRFToken']

  services:
    django:
      loadBalancer:
        servers:
          - url: http://django:5000
    {%- if dxh_py.use_celery == 'y' %}

    flower:
      loadBalancer:
        servers:
          - url: http://flower:5555
    {%- endif %}
    {%- if dxh_py.cloud_provider == 'None' %}

    django-media:
      loadBalancer:
        servers:
          - url: http://nginx:80
    {%- endif %}

providers:
  # https://doc.traefik.io/traefik/master/providers/file/
  file:
    filename: /etc/traefik/traefik.yml
    watch: true
